* {
    margin: 0px;
    padding: 0px;
}

/* hago que 1rem = 10px para simplificar el calculo de las unidades de medida */
html {
    font-size: 62.5%;
}

/* paleta de colores a usar: https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e */




/* ----- HEADER ----- */

.barra {
    background-color: #3F72AF;
    padding-right: 3rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.logo_a {
    height: 5rem;   
    margin-left: 2rem;
}

.barra__navegacion {
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

/* se destaca con otro color el elemento de navegacion de la pagina actual */
.barra__navegacion__item {
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 1rem;
}

.barra__navegacion__dropdown_menu {
    background-color: rgb(101.4 142.2 191);
    width: 100%;
    border: none;
    border-radius: 0;
}

.barra__navegacion__dropdown_item {
    font-size: 1.6rem;
}

/* ----- MAIN ----- */

.presentacion {
    background-image: url(imagenes/fondo_1.jpg);
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}

.logo_b {
    height: 27vw;
}

.presentacion__slogan {
    font-size: 3vw;
    width: 50%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.contenedor {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.contenedor--beige {
    background-color: #F9F7F7;
}

.contenedor__imagen_propiedad {
    width: 100%;
    display: flex;
    height: 70vh;
}

.contenedor__titulo {
    display: flex;
    font-size: 4vw;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin-bottom: 5rem;
}

.contenedor__titulo a {
    text-decoration: none;
    color: black;
}

.contenedor__propiedades {
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
    margin-left: 10rem;
}

.contenedor--celeste {
    background-color: #DBE2EF;
}

.contenedor--inverso {
    flex-direction: row-reverse;
}

.contenedor__imagen_inversiones {
    width: 100%;
    display: flex;
    height: 70vh;
}

.contenedor__inversiones {
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

/* ----- FOOTER ----- */

.separador {
    height: 6vh;
    background-color: #3F72AF;
}

.contenedor_footer {
    display: grid;
    justify-items: center;
    column-gap: 9%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
    background-color: #112D4E;
    padding: 2rem;
}

.contenedor_footer__logo_a {
    /*     order: 1; */
    height: 9rem;
    margin-top: 5rem;
}

.contenedor_footer__slogan {
    order: 4;
    font-size: 2rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    color: white;
}

.contenedor_footer__mapa {
    order: 2;
    height: 100%;
    height: 185px;
    width: 600px;
}

.contenedor_footer__redes {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    order: 5;
    list-style-type: none;
    font-size: 5rem;

}

.contenedor_footer__redes li {
    margin: 0 2.5rem;
    align-items: center;
}

.contenedor_footer__redes a {
    text-decoration: none;
    color: #DBE2EF;
}

.contenedor_footer__contacto {
    order: 3;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.contenedor_footer__contacto h3 {
    color: #DBE2EF;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.contenedor_footer__contacto ul {
    list-style-type: none;
    font-weight: lighter;
    font-size: 1.8rem;
}


.contenedor_footer__contacto li {
    color: #DBE2EF;
    margin-bottom: 1rem;
}



/* ----- Clases generales de las secciones ----- */

.presentacion_secciones {
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* padding: 30rem 0rem 0rem 60rem; */
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #F9F7F7;
    background-color: rgba(0, 0, 0, 0.736);
}


/* ----- Propiedades ----- */

.presentacion_secciones--propiedades {
    background-image: url(imagenes/propiedades.jpg);
}

.titulo--propiedades {
    width: 32rem;
}

.contenedor--propiedades {
    display: block;
    padding: 7rem 0rem 0rem 10rem;
}

.contenedor__titulo--spropiedades_a {
    font-size: 2vw;
}

.contenedor__spropiedades {
    display: flex;
    font-size: 1.3vw;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}


.contenedor__imagen_propiedad_1 {
    height: 70vh;
}

.contenedor__parrafo--spropiedades_a {
    margin-left: 15rem;
    margin-top: 2rem;
    width: 50%;
}

.contenedor__titulo--spropiedades_b {
    font-size: 2vw;
}

.contenedor__imagen_propiedad_2 {
    height: 70vh;
    margin-right: 10rem;
}

.contenedor__parrafo--spropiedades_b {
    width: 50%;
    margin-right: 15rem;
    margin-top: 2rem;
}

.contenedor__imagen_propiedad_3 {
    height: 60vh;
}

.contenedor__parrafo--spropiedades_c {
    width: 45%;
    margin-left: 15rem;
    margin-top: 2rem;
}


/* ----- Inversiones ----- */

.presentacion_secciones--inversiones {
    background-image: url(imagenes/inversiones.jpeg);
}

.titulo--inversiones {
    width: 30rem;
}

.contenedor--inversiones {
    display: block;
    padding: 7rem 0rem 0rem 10rem;
}

.contenedor__titulo--sinversiones {
    font-size: 3rem;
}

.contenedor__sinversiones {
    display: flex;
    font-size: 1.3vw;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

.contenedor__parrafo--sinversiones {
    margin-right: 10rem;

}

.contenedor__imagen_sinversiones {
    height: 60vh;
    margin-right: 5rem;
}


/* ----- Nosotros ----- */

.presentacion_secciones--nosotros {
    background-image: url(imagenes/nosotros.jpg);
}

.titulo--nosotros {
    width: 25rem;
}

.contenedor--nosotros {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem;
/*     width: 100%; */
}

.contenedor__titulo--snosotros {
    font-size: 4rem;
}

.contenedor__nosotros__item{
    font-family: 'Nunito', sans-serif;
    font-size: 1.7vw;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 2rem 7rem;
}

.contenedor__nosotros__item img {
    height: 17vw;
    margin-bottom: 1rem;
}


/* ----- Contacto ----- */

.presentacion_secciones--contacto {
    background-image: url(imagenes/contacto.jpg)
}

.titulo--contacto {
    width: 25rem;
}

.contenedor--contacto {
    display: block;
    padding: 5rem;
}

.contenedor__parrafo--contacto {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Nunito', sans-serif;
}

.contenedor__formulario {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

.contenedor__formulario li {
    margin-bottom: 6rem;
}

.contenedor__formulario button {
    width: 10%;

}

/* ----- Transformaciones Hover ----- */
.barra__navegacion__item:hover {
    background-color: rgba(221, 221, 221, 0.2);
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {}
    
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.contenedor__titulo--propiedades a {
    transition-property: all;
    transition: all 0.5s ease-in-out;
}

.contenedor__titulo--propiedades a:hover {
    transform: scale(1.03);
    color: rgb(49, 49, 49)
}

.contenedor__titulo--inversiones a {
    transition-property: all;
    transition: all 0.5s ease-in-out;
}

.contenedor__titulo--inversiones a:hover {
    transform: scale(1.03);
    color: rgb(49, 49, 49)
}

.contenedor_footer__redes a:hover {
    color: #b1b8c1;
}

/* ----- Animaciones ----- */
.titulo {
    animation: animacionTitulo 3s;
}

@keyframes animacionTitulo {
    0% {
        transform: translateY(-200px);
        color: #f9f7f700;
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        transform: translateY(0px);
        color: #F9F7F7;
        background-color: rgba(0, 0, 0, 0.736);
    }
}


/* ----- Estilos mobile ----- */

/* ----- Header y Footer mobile -----  */

@media screen and (max-width:765px) {

    .logo_a {
        height: 6.5rem;
    }

    .contenedor_footer {
        display: grid;
        justify-items: center;
        column-gap: 9%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 1fr 1fr;
        background-color: #112D4E;
        padding: 2rem;
    }

    .contenedor_footer__logo_a {
        order: 1;
    }

    .contenedor_footer__slogan {
        order: 2;
    }

    .contenedor_footer__mapa {
        /*  width: 200; */
        order: 3;
        height: 185px;
        width: 300px;
    }

    .contenedor_footer__redes {
        order: 4;
    }

    .contenedor_footer__contacto {
        order: 5;
    }
}

@media screen and (min-width:766px) and (max-width:1346px) {
    .logo_a {
        height: 4rem;
    }

    .contenedor_footer {
        display: grid;
        justify-items: center;
        column-gap: 9%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;
        background-color: #112D4E;
        padding: 2rem;
    }

    .contenedor_footer__logo_a {
        order: 1;
    }

    .contenedor_footer__mapa {
        /*  width: 200; */
        order: 2;
        height: 185px;
        width: 400px;
    }

    .contenedor_footer__slogan {
        order: 3;
    }

    .contenedor_footer__redes {
        order: 4;
    }

    .contenedor_footer__contacto {
        order: 5;
    }


}


/* ----- Main mobile -----  */

@media screen and (max-width:765px) {

    .presentacion {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo_b {
        height: 40vw;
        margin-top: 10rem;
    }

    .presentacion__slogan {
        font-size: 5vw;
        width: 80%;
        color: white;
        background-color: rgba(0, 0, 0, 0.736);
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 7rem;
    }

    .contenedor--celeste{
        justify-content: space-evenly;
  /*       height: 80vh; */
    }

    .contenedor__propiedades {
        font-size: 1.2rem;
        margin-left: 0rem;
    }

    .contenedor__imagen_propiedad {
        width: 32vw;
        height: auto;
        margin-bottom: 5rem;
    }

    .contenedor__imagen_inversiones {
        width: 39vw;
        height: auto;
        margin-bottom: 5rem;
    }

    .contenedor__inversiones {
        width: 60vw;
        font-size: 1.2rem;
        margin-right: 0rem;
    }
}

@media screen and (min-width:766px) and (max-width:1346px) {

    .contenedor__imagen_propiedad {
        height: auto;
    }

    .contenedor__propiedades {
        font-size: 1.5vw;
    }

    .contenedor__imagen_inversiones {
        height: 42vw;
    }

    .contenedor__inversiones {
        margin-right: 6.5rem;
        font-size: 1.7vw;
    }

    .contenedor__titulo--inversiones {
        text-align: left;
    }
}

/* ----- Nosotros mobile -----  */

@media screen and (max-width:765px) {
.contenedor__titulo--snosotros{
    font-size: 3rem;
}

.contenedor__nosotros__item{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 2rem 5rem;
}

.contenedor__nosotros__item img {
    height: 15rem;
    margin-bottom: 1rem;
}
}