@import '../base/variables';
@import '../base/listas';


.presentacion_secciones--inversiones {
    background-image: url(../../imagenes/inversiones.jpeg);

    .titulo--inversiones {
        width: 30rem;
    }
}

.contenedor--inversiones {
    display: block;
    padding: 7rem 0rem 0rem 10rem;

    .contenedor__titulo--sinversiones {
        font-size: 3rem;
    }

    .contenedor__sinversiones {
        display: flex;
        font-size: 1.3vw;
        text-align: justify;
        font-family: $font-main;

        .contenedor__imagen_sinversiones {
            height: 60vh;
            margin-right: 5rem;
        }

        .contenedor__parrafo--sinversiones {
            margin-right: 10rem;

        }
    }
}


@media screen and (max-width:765px) {
    .contenedor--inversiones {
        display: flex;
        padding: 5rem;
        .contenedor__sinversiones {
            flex-direction: column;
            align-items: center;
            .contenedor__imagen_sinversiones {
                height: 23rem;
                margin-right: 0rem;
            }

            .contenedor__parrafo--sinversiones {
                margin-top: 5rem;
                margin-right: 0rem;
                font-size: 1.3rem;

            }
        }
    }

}


@media screen and (min-width:766px) and (max-width:1346px) {

    .contenedor--inversiones {
            .contenedor__sinversiones {
                .contenedor__imagen_sinversiones {
                    height: 35vh;
                    margin-right: 5rem;
                }

                .contenedor__parrafo--sinversiones {
                    margin-right: 5rem;
                    font-size: 1.5rem;

                }
            }
        }
    }

